/* Social Sharing Bar */
.share-bar {
  position: fixed;
  bottom: 0;
  height: 51px;
  border: none;
  z-index: 4999991;
  transform: translateZ(0) translate3d(0, 0, 0);
  -webkit-transform: translateZ(0) translate3d(0, 0, 0);
  -moz-transform: translateZ(0) translate3d(0, 0, 0);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  align-items: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  width: 50%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.share-bar--list {
  padding: 0;
  list-style: none;
  display: flex;
}

.share-bar .share-bar--list {
  flex: 1 1 auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  overflow: hidden;
  text-align: left;
  font-size: 0;
  border-radius: 50px;
}

.share-bar .share-bar--item {
  display: inline-block;
  height: 60px;
  line-height: 50px;
  flex: 1 1 0px;
}

.share-bar--item {
  float: left;
  display: block;
  font-size: 1.3rem;
  height: 1.875rem;
  width: 1.875rem;
  line-height: 1.875rem;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
}

/* Colours */
.facebook .share-bar--item,
.share-bar .facebook .share-bar--item-link,
.twitter .share-bar--item,
.share-bar .twitter .share-bar--item-link,
.whatsapp .share-bar--item,
.share-bar .whatsapp .share-bar--item-link,
.reddit .share-bar--item,
.share-bar .reddit .share-bar--item-link,
.linkedin .share-bar--item,
.share-bar .linkedin .share-bar--item-link,
.linkedin .share-bar--item,
.share-bar .linkedin .share-bar--item-link {
  cursor: pointer;
  width: 100%;
  min-width: 100%;
  display: block;
}

/* Facebook */
.facebook .share-bar--item,
.share-bar .facebook .share-bar--item-link {
  background-color: #3b5999;
}

/* Twitter */
.twitter .share-bar--item,
.share-bar .twitter .share-bar--item-link {
  background-color: #55acef;
}

/* What's App */
.whatsapp .share-bar--item,
.share-bar .whatsapp .share-bar--item-link {
  background-color: #61be4f;
}

/* Reddit */
.reddit .share-bar--item,
.share-bar .reddit .share-bar--item-link {
  background-color: #ff7730;
}

/* LinkedIn */
.linkedin .share-bar--item,
.share-bar .linkedin .share-bar--item-link {
  background-color: #4875b4;
}

/* Icons */
.share-bar--item-link:before {
  display: inline-block;
  color: #ffffff;
}

/* Facebook */
.share-bar .facebook .share-bar--item-link:before {
  content: "\f09a";
  font-family: "FontAwesome";
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* Twitter */
.share-bar .twitter .share-bar--item-link:before {
  content: "\f099";
  font-family: "FontAwesome";
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* What's App */
.share-bar .whatsapp .share-bar--item-link:before {
  content: "\f232";
  font-family: "FontAwesome";
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* Reddit */
.share-bar .reddit .share-bar--item-link:before {
  content: "\f281";
  font-family: "FontAwesome";
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* LinkedIn */
.share-bar .linkedin .share-bar--item-link:before {
  content: "\f0e1";
  font-family: "FontAwesome";
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
